*{
    overflow-x: hidden;
    font-family: sans-serif;
    text-decoration: none;
}
.navbar .container .navbar-brand{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
}
.collapse .navbar-nav .nav-item .nav-link{
        color: aliceblue;
        padding-left: 30px;
}
.first-head{
    height: 530px;
    
}
#top-h1{
    color: aliceblue;
}
.btn{
    margin-right: 2rem;
    border-radius: 15px;
}
.big-image{
    border-radius: 20px;
}
@media(max-width: 1199px) {
    .big-image{
        display: none;
    }
    .first-head{
        height: 400px;
    }
        
    
}
.feature{
    display: inline-flex;
    font-size: 2.5rem;
    border-radius: 10px;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
}
.lead{
    font-size: 2rem;
    font-weight: 600;
    
}
.under-div{
    background-color: rgb(248,249,250) ;
    height: 450px;
   
}
.under-section{
    height: 900px;
}
.un-div a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.footer{
    height: 70px;
}
.about-header{
    height: 500px;

}
.h1-1{
    margin-top: 6rem;
}
.about-sec-1{
    height: 500px;
    background-color:rgb(248,249,250) ;
}
.about-sec-2{
    height: 500px;
}
.about-sec-3{
    height: 500px;
    background-color:rgb(248,249,250);
}
#about-row{
    margin-top: 5rem;
}
@media(max-width: 992px){

    .about-sec-1{
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .about-sec-2{
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .about-sec-3{
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
.h2-2{
    margin-top: 2rem;
}


.feature-1{
    display: inline-flex;
    font-size: 2.5rem;
    padding: 10px;
}
